/* 
0 - 600px phone
600 - 900 Tablet portrait
900 - 1200 tablet landscape
1200-1800 normal styles apply
1800px big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER of responsive tweaking:
base + typography > general layout > grid > page layout > components
*/
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInStationary {
  0% {
    opacity: 0;
    transform: translate(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75rem) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 180rem) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;
    backface-visibility: hidden;
    animation-duration: 3s; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
    .heading-primary--main--1 {
      animation-name: fadeInLeft; }
      .heading-primary--main--1:hover {
        color: red; }
    .heading-primary--main--2 {
      animation-name: fadeInStationary; }
      .heading-primary--main--2:hover {
        color: green; }
    .heading-primary--main--3 {
      animation-name: fadeInRight; }
      .heading-primary--main--3:hover {
        color: indigo; }

.heading-secondary {
  display: inline-block;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 300;
  background-image: linear-gradient(to right, red, orange, #c9c904, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: scale(1.02);
    text-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.rainbow-text {
  background-image: linear-gradient(to right, red, orange, #c9c904, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.35;
  border-radius: 3.5rem;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer; }
  @media (max-width: 46.875em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.5rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF; }

.btn--primary {
  background-color: #0ba03d;
  color: #FFF; }
  .btn--primary::after {
    background-color: #0ba03d; }

.btn--animated {
  backface-visibility: hidden;
  animation: fadeInUp 3s ease 2s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.5rem;
  color: #0ba03d;
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  border-radius: 0;
  border-bottom: 1px solid #0ba03d;
  transition: all 0.1s; }

.btn-text:hover {
  background-color: #0ba03d;
  color: #FFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: #FFF;
    height: 50rem;
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.25); }
    @media (max-width: 56.25em) {
      .card__side {
        transition: none; } }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ff8080, red); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #39f177, #0ba03d); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #9403ff, indigo); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-position: top;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem; }
    .card__picture--1 {
      background-image: linear-gradient(to top left, white, #ff8080), url(../img/card-cubs.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to top left, #b0fac9, #39f177), url(../img/card-mama.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to top left, #ca82ff, #9403ff), url(../img/card-pants.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #FFF;
    position: absolute;
    top: 15rem;
    right: 1rem;
    width: 75%; }
  .card__heading-span {
    width: 10%;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 128, 128, 0.75), rgba(255, 0, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(57, 241, 119, 0.75), rgba(11, 160, 61, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(148, 3, 255, 0.75), rgba(75, 0, 130, 0.85)); }
  .card__details {
    padding: 3rem;
    width: 80%;
    margin: 0 auto; }
    .card__details ul {
      margin: 0 auto;
      list-style: none;
      width: 80%; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #e7e7e7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #FFF; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 8rem;
    font-weight: 200; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.25);
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto; }
      .card__heading-span {
        hyphens: auto;
        padding: 0.5rem; }
      .card__side {
        height: auto;
        background-color: #FFF;
        position: relative; }
        .card__side--front {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          padding-bottom: 6rem;
          box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
          margin-top: -20%;
          padding-top: 4rem; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0%);
        width: 100%;
        border-radius: none;
        padding: 4rem;
        margin-bottom: 6rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.333333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          transform: scale(1.3); } }
    .composition__photo--p3 {
      left: 20%;
      top: 15rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1rem solid #0ba03d;
      transform: scale(1.3) translateY(-0.5rem);
      box-shadow: 5rem 5rem 8rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  height: 45rem; }
  @media (max-width: 56.25em) {
    .feature-box {
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, red, orange, #c9c904, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 1s; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.5s; }
  .form__input::-webkit-input-placeholder, .form__input::-moz-input-placeholder {
    color: #999;
    color: indigo;
    font-size: 2.8rem; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #0ba03d; }
  .form__input:focus:invalid {
    border: none;
    border-bottom: 3px solid red;
    color: red; }
  .form__input:-moz-ui-invalid {
    box-shadow: none; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block;
  position: relative; }
  @media (max-width: 46.875em) {
    .form__radio-group {
      width: 100%;
      margin-top: 1.5rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  padding-left: 5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 4px solid #0ba03d;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: #0ba03d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.5rem;
  transform: skewX(-8deg);
  min-height: 27rem; }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 31.25em) {
    .story {
      transform: skewX(0deg); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(8deg);
    position: relative; }
    @media (max-width: 31.25em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0deg); } }
  .story__img {
    height: 100%;
    transform: scale(1);
    transition: all 2s; }
    @media (max-width: 31.25em) {
      .story__img {
        transform: skewX(0deg); } }
  .story__text {
    transform: skewX(8deg); }
    @media (max-width: 31.25em) {
      .story__text {
        transform: skewX(0deg); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(2);
    filter: blur(2px) brightness(80%); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #e7e7e7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 5rem; } }
  .footer__logo source {
    width: 35rem;
    height: auto;
    border-radius: 50%; }
  .footer__logo img {
    width: 35rem;
    height: auto;
    border-radius: 50%; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #e7e7e7;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #0ba03d;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(2deg) scale(1.3); }
  .footer__copyright {
    color: #e7e7e7;
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      width: 100%;
      padding: 0.5rem 5rem; } }
  @media (max-width: 50em) {
    .row {
      padding: 3rem; } }
  @media (max-width: 37.5em) {
    .row {
      padding: 0.5rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0rem;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 6rem*2) * (1/3) + (6rem * 0)); }
  .row .col-2-of-3 {
    width: calc( ((100% - 6rem*2) * (2/3)) + (6rem * 1)); }
  .row .col-3-of-3 {
    width: calc( ((100% - 6rem*2) * (3/3)) + (6rem * 2)); }
  .row .col-1-of-4 {
    width: calc( (100% - 6rem*3) * (1/4) + (6rem * 0)); }
  .row .col-2-of-4 {
    width: calc( ((100% - 6rem*3) * (2/4)) + (6rem * 1)); }
  .row .col-3-of-4 {
    width: calc( ((100% - 6rem*3) * (3/4)) + (6rem * 2)); }
  .row .col-4-of-4 {
    width: calc( ((100% - 6rem*3) * (4/4)) + (6rem * 3)); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FFF;
  height: 8rem;
  width: 8rem;
  position: fixed;
  top: 7rem;
  right: 7rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: button; }
  @media (max-width: 56.25em) {
    .navigation__button {
      height: 6rem;
      width: 6rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      height: 4rem;
      width: 4rem; } }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 7.5rem;
  right: 7.5rem;
  background-image: radial-gradient(#39f177, #0ba03d);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.67, 0.89, 0.87, 0.31); }
  @media (max-width: 56.25em) {
    .navigation__background {
      height: 5rem;
      width: 5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      height: 3rem;
      width: 3rem; } }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  height: 0;
  transform: scale(0);
  transition: all 0.8s cubic-bezier(0.67, 0.89, 0.87, 0.31); }

.navigation__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #0ba03d; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: scale(1); }

.navigation__icon {
  position: relative;
  margin-top: 3.8rem; }
  @media (max-width: 56.25em) {
    .navigation__icon {
      margin-top: 2.8rem; } }
  @media (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 1.9rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    transition: all 0.4s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -0.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 0.8rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  transform: rotate(-135deg);
  top: 0; }

.header {
  height: 98vh;
  padding-top: 10rem;
  margin-bottom: 15rem;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.6), rgba(11, 160, 61, 0.6)), url(../img/bb-hero--600w.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 3.5rem; }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (max-resolution: 192dpi) and (min-width: 56.25em) {
    .header {
      background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.6), rgba(11, 160, 61, 0.6)), url(../img/bb-hero--full.jpg); } }
  @media (max-width: 56.25em) {
    .header {
      margin-bottom: 2rem; } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media (max-width: 56.25em) {
      .header__logo-box {
        top: 3rem;
        left: 3rem; } }
    @media (max-width: 37.5em) {
      .header__logo-box {
        top: 2rem;
        left: 2rem; } }
  .header__logo {
    height: 8rem;
    border-radius: 50%; }
    @media (max-width: 56.25em) {
      .header__logo {
        height: 7rem; } }
    @media (max-width: 37.5em) {
      .header__logo {
        height: 6rem; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.popup {
  position: relative;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  opacity: 0;
  visibility: hidden; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.0rem;
    right: 2.5rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close :hover {
    color: #0ba03d; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    width: 75%;
    background-color: #FFF;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate -50%, -50% scale(0.5);
    transition: all 0.130s .1s; }
    @media (max-width: 87.5em) {
      .popup__content {
        display: block;
        float: left;
        padding: 9rem 2% 5% 2%; } }
    @media (max-width: 68.75em) {
      .popup__content {
        width: 85%; } }
    @media (max-width: 56.25em) {
      .popup__content {
        width: 90%; } }
    @media (max-width: 37.5em) {
      .popup__content {
        width: 95%; } }
    @media (max-width: 25em) {
      .popup__content {
        width: 99%;
        padding: 7rem 1% 2% 1%; } }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
    @media (max-width: 87.5em) {
      .popup__left {
        display: block;
        float: left;
        width: 100%; } }
  .popup__img {
    width: 100%;
    object-fit: cover; }
    @media (max-width: 87.5em) {
      .popup__img {
        display: block;
        float: left;
        height: 20%;
        width: 50%; } }
  .popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media (max-width: 87.5em) {
      .popup__right {
        display: block;
        float: left;
        width: 100%; } }
    @media (max-width: 25em) {
      .popup__right {
        padding: 1rem; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px #999;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px #999;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media (max-width: 37.5em) {
      .popup__text {
        column-count: 1; } }

.section-about {
  padding: 5rem 0 15rem 0;
  background-color: #e6f6e4;
  margin-bottom: 15rem;
  border-radius: 3.5rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 5rem 2rem;
      padding-bottom: 10rem;
      margin-bottom: 2rem; } }

.section-features {
  padding: 8rem 0 8rem 0;
  margin-bottom: 15rem;
  background-size: cover;
  background-position: top;
  border-radius: 3.5rem;
  background-image: url(../img/features-background.jpg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 5rem 0;
      margin-bottom: 2rem; } }

.section-best {
  padding: 5rem 0 7rem 0;
  margin-bottom: 15rem;
  background-color: #e6f6e4;
  border-radius: 3.5rem; }
  @media (max-width: 56.25em) {
    .section-best {
      padding: 5rem 0;
      margin-bottom: 2rem; } }

.section-stories {
  padding: 5rem 0;
  margin-bottom: 15rem;
  border-radius: 3.5rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 5rem 0;
      margin-bottom: 2rem; } }

.section-book {
  padding: 5rem 0 15rem 0;
  margin-bottom: 15rem;
  border-radius: 3.5rem; }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 5rem 0;
      margin-bottom: 2rem; } }
  @media (max-width: 50em) {
    .section-book {
      padding: 1rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9), 55%, transparent 60%), url(../img/card-mama.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 46.875em) {
    .book {
      padding: 1rem;
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9), 65%, transparent 70%), url(../img/card-mama.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 46.875em) {
      .book__form {
        width: 65%;
        padding: 2rem; } }
