@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInStationary {
  0% {
    opacity: 0;
    transform: translate(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;
    backface-visibility: hidden;
    animation-duration: 3s; }
    .heading-primary--main--1 {
      animation-name: fadeInLeft; }
      .heading-primary--main--1:hover {
        color: red; }
    .heading-primary--main--2 {
      animation-name: fadeInStationary; }
      .heading-primary--main--2:hover {
        color: green; }
    .heading-primary--main--3 {
      animation-name: fadeInRight; }
      .heading-primary--main--3:hover {
        color: indigo; }

.heading-secondary {
  display: inline-block;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to bottom right, #FF0000, #55c57a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.02);
    text-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-size: 2rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF; }

.btn--animated {
  backface-visibility: hidden;
  animation: fadeInUp 3s ease 2s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.5rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #55c57a;
  transition: all 0.1s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #FFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    position: absolute; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      left: 25rem;
      top: 5rem; }
    .composition__photo--p3 {
      left: 10rem;
      top: 20rem; }
    .composition__photo:hover {
      transform: scale(1.4); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 6rem*2) * (1/3) + (6rem * 0)); }
  .row .col-2-of-3 {
    width: calc( ((100% - 6rem*2) * (2/3)) + (6rem * 1)); }
  .row .col-3-of-3 {
    width: calc( ((100% - 6rem*2) * (3/3)) + (6rem * 2)); }
  .row .col-1-of-4 {
    width: calc( (100% - 6rem*3) * (1/4) + (6rem * 0)); }
  .row .col-2-of-4 {
    width: calc( ((100% - 6rem*3) * (2/4)) + (6rem * 1)); }
  .row .col-3-of-4 {
    width: calc( ((100% - 6rem*3) * (3/4)) + (6rem * 2)); }
  .row .col-4-of-4 {
    width: calc( ((100% - 6rem*3) * (4/4)) + (6rem * 3)); }

.header {
  height: 98vh;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.8), rgba(85, 197, 122, 0.8)), url(../img/BB_outdoors01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 8rem;
    border-radius: 50%; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #e9e5e5;
  padding: 25rem 0;
  margin-top: -5vh; }
