/* COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 1vw;

    /* background-color: red; */
}

.header {
    height: 98vh;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.596), #28b4857c), url(../img/BB_outdoors01.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.logo-box {
    position: absolute;
    top: 3vw;
    left: 3vw;
}
.logo {
    /* height: 80px; */
    height: 8vw;
    border-radius: 50%;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    text-align: center;
}
.heading-primary{
    color: #FFF;
    text-transform: uppercase;

    margin-bottom: 10vh;
}

.heading-primary-main{
    display: block;
    /* font-size: 60px; */
    /* font-size: 200%; */
    font-size: 8vw;
    font-weight: 400;
    /* letter-spacing: 40px; */
    letter-spacing: 3vw;
    text-align: center;

    backface-visibility: hidden;
    animation-duration: 3s;
}
.heading-primary-main-1:hover {
    color: indigo;
}
.heading-primary-main-2:hover {
    color: green;
}
.heading-primary-main-3:hover {
    color: red;
}

.heading-primary-main-1{
    animation-name: fadeInLeft;
}
.heading-primary-main-2{
    animation-name: fadeInStationary;
}
.heading-primary-main-3{
    animation-name: fadeInRight;
}


@keyframes fadeInLeft {
    0% {
        opacity: 0; 
        transform: translateX(-100%)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInStationary {
    0% {
        opacity: 0;
        transform: translate(0);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0; 
        transform: translateX(+100%)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0; 
        transform: translateY(+500%)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2vh auto;
    padding: 1vh 7.5vw;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    
    font-size: 2vh;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white{
    background-color: #fff;
    color: #777;
}

.btn::after{
    content: '';
    display: inherit;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0;
}

.hero-btn{
    backface-visibility: hidden;
    animation: fadeInUp 3s ease 2s;
    animation-fill-mode: backwards;
}