@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInStationary {
  0% {
    opacity: 0;
    transform: translate(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;
    backface-visibility: hidden;
    animation-duration: 3s; }
    .heading-primary--main--1 {
      animation-name: fadeInLeft; }
      .heading-primary--main--1:hover {
        color: red; }
    .heading-primary--main--2 {
      animation-name: fadeInStationary; }
      .heading-primary--main--2:hover {
        color: green; }
    .heading-primary--main--3 {
      animation-name: fadeInRight; }
      .heading-primary--main--3:hover {
        color: indigo; }

.heading-secondary {
  display: inline-block;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, red, orange, #c9c904, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.02);
    text-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.rainbow-text {
  background-image: linear-gradient(to right, red, orange, #c9c904, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.35;
  border-radius: 3.5rem;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-size: 2rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF; }

.btn--primary {
  background-color: #0ba03d;
  color: #FFF; }
  .btn--primary::after {
    background-color: #0ba03d; }

.btn--animated {
  backface-visibility: hidden;
  animation: fadeInUp 3s ease 2s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.5rem;
  color: #0ba03d;
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  border-radius: 0;
  border-bottom: 1px solid #0ba03d;
  transition: all 0.1s; }

.btn-text:hover {
  background-color: #0ba03d;
  color: #FFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: #FFF;
    height: 50rem;
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.25); }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ff8080, red); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #39f177, #0ba03d); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #9403ff, indigo); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-position: top;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem; }
    .card__picture--1 {
      background-image: linear-gradient(to top left, white, #ff8080), url(../img/card-cubs.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to top left, #b0fac9, #39f177), url(../img/card-mama.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to top left, #ca82ff, #9403ff), url(../img/card-pants.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #FFF;
    position: absolute;
    top: 15rem;
    right: 1rem;
    width: 75%; }
  .card__heading-span {
    width: 10%;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 128, 128, 0.75), rgba(255, 0, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(57, 241, 119, 0.75), rgba(11, 160, 61, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(148, 3, 255, 0.75), rgba(75, 0, 130, 0.85)); }
  .card__details {
    padding: 3rem;
    width: 80%;
    margin: 0 auto; }
    .card__details ul {
      margin: 0 auto;
      list-style: none;
      width: 80%; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #e7e7e7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #FFF; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 8rem;
    font-weight: 200; }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 15rem; }
    .composition__photo:hover {
      outline: 1rem solid #0ba03d;
      transform: scale(1.3) translateY(-0.5rem);
      box-shadow: 5rem 5rem 8rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  height: 45rem; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, red, orange, #c9c904, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 1s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.5rem;
  transform: skewX(-12deg);
  height: 27rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: scale(1);
    transition: all 2s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(2);
    filter: blur(2px) brightness(80%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 6rem*2) * (1/3) + (6rem * 0)); }
  .row .col-2-of-3 {
    width: calc( ((100% - 6rem*2) * (2/3)) + (6rem * 1)); }
  .row .col-3-of-3 {
    width: calc( ((100% - 6rem*2) * (3/3)) + (6rem * 2)); }
  .row .col-1-of-4 {
    width: calc( (100% - 6rem*3) * (1/4) + (6rem * 0)); }
  .row .col-2-of-4 {
    width: calc( ((100% - 6rem*3) * (2/4)) + (6rem * 1)); }
  .row .col-3-of-4 {
    width: calc( ((100% - 6rem*3) * (3/4)) + (6rem * 2)); }
  .row .col-4-of-4 {
    width: calc( ((100% - 6rem*3) * (4/4)) + (6rem * 3)); }

.header {
  height: 98vh;
  margin-bottom: 15rem;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.6), rgba(11, 160, 61, 0.6)), url(../img/BB_outdoors01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 3.5rem; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 8rem;
    border-radius: 50%; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  padding: 5rem 0 15rem 0;
  background-color: #e6f6e4;
  margin-bottom: 15rem;
  border-radius: 3.5rem; }

.section-features {
  padding: 8rem 0 8rem 0;
  margin-bottom: 15rem;
  background-size: cover;
  background-position: top;
  border-radius: 3.5rem;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.6), rgba(11, 160, 61, 0.6)), url(../img/BB_outdoors02.jpg); }

.section-best {
  padding: 5rem 0 7rem 0;
  margin-bottom: 15rem;
  background-color: #e6f6e4;
  border-radius: 3.5rem; }

.section-stories {
  padding: 5rem 0;
  margin-bottom: 15rem;
  border-radius: 3.5rem;
  position: relative; }
