/* COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */

/**************
* Basic reset *
***************/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}

/***********************************
* Root font size for responiveness *
***********************************/

html{
    font-size: 62.5%; /*Default 10px*/
}

/**********
* General *
***********/

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

/*************
* Hero Image *
**************/

.header {
    height: 98vh;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.596), #28b4857c), url(../img/BB_outdoors01.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.logo {
    height: 8rem;
    border-radius: 50%;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary{
    color: #FFF;
    text-transform: uppercase;

    margin-bottom: 6rem;
}

.heading-primary-main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;

    backface-visibility: hidden;
    animation-duration: 3s;
}
.heading-primary-main-1:hover {
    color:red;
}
.heading-primary-main-2:hover {
    color: green;
}
.heading-primary-main-3:hover {
    color: indigo;
}

.heading-primary-main-1{
    animation-name: fadeInLeft;
}
.heading-primary-main-2{
    animation-name: fadeInStationary;
}
.heading-primary-main-3{
    animation-name: fadeInRight;
}


@keyframes fadeInLeft {
    0% {
        opacity: 0; 
        transform: translateX(-20rem)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInStationary {
    0% {
        opacity: 0;
        transform: translate(0);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0; 
        transform: translateX(+20rem)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0; 
        transform: translateY(+50rem)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    
    font-size: 2rem;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}

.btn-white{
    background-color: #fff;
    color: #777;
}

.btn::after{
    content: '';
    display: inherit;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0;
}

.hero-btn{
    backface-visibility: hidden;
    animation: fadeInUp 3s ease 2s;
    animation-fill-mode: backwards;
}

/***********************************
* Root font size for responiveness *
***********************************/