@mixin clearfix {
    &::after {
        content:"";
        display: table;
        clear: both;
    }
}

@mixin absCentre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//Media query manager
/* 
0 - 600px phone
600 - 900 Tablet portrait
900 - 1200 tablet landscape
1200-1800 normal styles apply
1800px big desktop
*/

// @mixin respond-phone {
//     @media (max-width: 600px) { @content };
// }
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER of responsive tweaking:
base + typography > general layout > grid > page layout > components
*/

@mixin respondMaxPX($px) {
    @media (max-width: #{$px/16}em) { @content };
}
@mixin respondMinPX($px) {
    @media (min-width: #{$px/16}em) { @content };
}

@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        //600px/16px = 37.5em
        @media (max-width: 37.5em) { @content };
    }

    @if $breakpoint == tab-port {
        //900px/16px = 56.25em
        @media (max-width: 56.25em) { @content };
    }

    @if $breakpoint == tab-land {
        //1200px/16px = 37.5em
        @media (max-width: 75rem) { @content };
    }

    @if $breakpoint == big-desktop {
        //1800px/16px = 112.5em
        @media (min-width: 180rem) { @content };
    }

}