@mixin clearfix {
    &::after {
        content:"";
        display: table;
        clear: both;
    }
}

@mixin absCentre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//Media query manager
/* 
0 - 600px phone
600 - 900 Tablet portrait
900 - 1200 tablet landscape
1200-1800 normal styles apply
1800px big desktop
*/

// @mixin respond-phone {
//     @media (max-width: 600px) { @content };
// }
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) { @content };
    }
}