$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-hero-topleft: #FF0000;
$color-hero-bottomright:#38b428;
$hero-transparency: 0.8;

$color-grey-dark: #777;
$color-white: #FFF;
$color-black: #000;

// Grid Layout
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;