.row{
    //width: 1140px;  standard
    max-width: $grid-width;
    margin: 0 auto;
    
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }
    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 5rem;
    }
    @include respond(phone) {
        width: 100%;
        padding: 0.5rem;
    }
    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0rem;;
                margin-bottom: $gutter-vertical-small;

            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: calc(
            (100% - #{$gutter-horizontal}) / 2
        );
    }

    .col-1-of-3 {
        width: calc(
            (100% - #{$gutter-horizontal}*2) * (1/3)
                + (#{$gutter-horizontal} * 0)
        );
    }

    .col-2-of-3 {
        width: calc(
            ((100% - #{$gutter-horizontal}*2) * (2/3))
                + (#{$gutter-horizontal} * 1)
        );
    }

    .col-3-of-3 {
        width: calc(
            ((100% - #{$gutter-horizontal}*2) * (3/3))
                + (#{$gutter-horizontal} * 2)
        );
    }

    .col-1-of-4 {
        width: calc(
            (100% - #{$gutter-horizontal}*3) * (1/4)
                + (#{$gutter-horizontal} * 0)
        );
    }

    .col-2-of-4 {
        width: calc(
            ((100% - #{$gutter-horizontal}*3) * (2/4))
                + (#{$gutter-horizontal} * 1)
        );
    }

    .col-3-of-4 {
        width: calc(
            ((100% - #{$gutter-horizontal}*3) * (3/4))
                + (#{$gutter-horizontal} * 2)
        );
    }
    .col-4-of-4 {
        width: calc(
            ((100% - #{$gutter-horizontal}*3) * (4/4))
                + (#{$gutter-horizontal} * 3)
        );
    }
}