.header {
    height: 98vh;
    margin-bottom: $margin-section-floor;
    background-image: linear-gradient(to bottom right, rgba($color-grad-topleft, $hero-transparency), rgba($color-grad-bottomright, $hero-transparency)), url(../img/BB_outdoors01.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: $border-radius-large;
    
    @include respond(tab-port){
        margin-bottom: $margin-section-floor-small;
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
        @include respondMaxPX(900) { top: 3rem; left: 3rem; };
        @include respondMaxPX(600) { top: 2rem; left: 2rem; };
    }
    
    &__logo {
        height: 8rem;
        @include respondMaxPX(900) { height: 7rem; };
        @include respondMaxPX(600) { height: 6rem; };
        border-radius: 50%;
    }
    
    &__text-box{
        @include absCentre;
        text-align: center;
    }

}