.composition {
    position: relative;

    &__photo{
        width: 60%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: .5rem;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;

        &--p1{
            left: 0;
            top: -2rem;
        }

        &--p2{
            right: 0;
            top: 2rem;
        }

        &--p3{
            left: 20%;
            top: 15rem;
        }

        &:hover {
            outline: 1rem solid $color-primary;
            transform: scale(1.3) translateY(-.5rem);
            box-shadow: 5rem 5rem 8rem rgba($color-black, .5);
            z-index: 20;

        }  
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}