.feature-box {
    background-color: rgba($color-white, 0.9);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: $border-radius-small;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    height: 45rem;

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $rainbow);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
        transition: transform 1s;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.1);
    }
}