.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .2);
    background-color: rgba($color-white, 0.8);
    border-radius: $border-radius-small;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $font-size-default;
    transform: skewX(-12deg);
    height: 27rem;

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }
    &__img {
        height: 100%;
        transform: scale(1);

        transition: all 2s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%,-50%)
    }

    &:hover &__img {
        transform: scale(2.00);
        filter: blur(2px) brightness(80%);
    }

}