@keyframes fadeInLeft {
    0% {
        opacity: 0; 
        transform: translateX(-20rem)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInStationary {
    0% {
        opacity: 0;
        transform: translate(0);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0; 
        transform: translateX(+20rem)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0; 
        transform: translateY(+20rem)  
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}