// Basic Reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}

// Root font size for responiveness
html{
    font-size: 62.5%; // Default 10px;

    @include respond-phone {
        font-size: 50%;
    }
}