body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;

    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: $font-size-heading-primary;
        font-weight: 400;
        letter-spacing: 3.5rem;
        text-align: center;
    
        backface-visibility: hidden;
        animation-duration: 3s;

        &--1{
            animation-name: fadeInLeft;
            
            &:hover {
                color:red;
            }
        }
        &--2{
            animation-name: fadeInStationary;

            &:hover {
                color: green;
            }
        }
        &--3{
            animation-name: fadeInRight;
            
            &:hover {
                color: indigo;
            }
        }
    }
}

.heading-secondary{
    display: inline-block;
    font-size: $font-size-heading-secondary;
    text-transform: uppercase;
    font-weight: 300;
    background-image: linear-gradient(to right, $rainbow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all .2s;

    &:hover {
        transform: scale(1.02);
        text-shadow: 1rem 2rem 2rem rgba($color-black, 0.2);
    }
}

.heading-tertiary{
    font-size: $font-size-heading-tertiary;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-size-default;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}

.rainbow-text {
    background-image: linear-gradient(to right, $rainbow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }