.section-about {
    background-color: $color-background-sections;
    margin-top: -5vh;
    margin-bottom: $margin-section-floor;
}

.section-features {
    padding: 20rem 0;
    margin-bottom: $margin-section-floor;
    background-size: cover;
    background-position: top;
    border-radius: $border-radius-large;
    background-image: linear-gradient(
            to bottom right,
            rgba($color-grad-topleft, $hero-transparency),
            rgba($color-grad-bottomright, $hero-transparency)
        ),
        url(../img/BB_outdoors02.jpg
    );
}

.section-best {
    margin-bottom: $margin-section-floor;
    background-color: $color-background-sections;
    //background-image: linear-gradient(to bottom right, rgba($color-grad-topleft, $hero-transparency), rgba($color-grad-bottomright, $hero-transparency));
    border-radius: $border-radius-large;
    height: 80rem;
}