.section-about {
    padding: 5rem 0 15rem 0;
    background-color: $color-background-sections;
    margin-bottom: $margin-section-floor;
    border-radius: $border-radius-large;
}

.section-features {
    padding: 8rem 0 8rem 0;
    margin-bottom: $margin-section-floor;
    background-size: cover;
    background-position: top;
    border-radius: $border-radius-large;
    background-image: linear-gradient(
            to bottom right,
            rgba($color-grad-topleft, $hero-transparency),
            rgba($color-grad-bottomright, $hero-transparency)
        ),
        url(../img/BB_outdoors02.jpg
    );
}

.section-best {
    padding: 5rem 0 7rem 0;
    margin-bottom: $margin-section-floor;
    background-color: $color-background-sections;
    //background-image: linear-gradient(to bottom right, rgba($color-grad-topleft, $hero-transparency), rgba($color-grad-bottomright, $hero-transparency));
    border-radius: $border-radius-large;
}

.section-stories {
    padding: 5rem 0;
    margin-bottom: $margin-section-floor;
    //background-color: $color-background-sections;
    border-radius: $border-radius-large;
    position: relative; //for video background.

}
