.section-about {
    padding: 5rem 0 15rem 0;
    background-color: $color-background-sections;
    margin-bottom: $margin-section-floor;
    border-radius: $border-radius-large;

    @include respond(tab-port){
        padding: 5rem 2rem;
        padding-bottom: 10rem;
        margin-bottom: $margin-section-floor-small;
    }

}

.section-features {
    padding: 8rem 0 8rem 0;
    margin-bottom: $margin-section-floor;
    background-size: cover;
    background-position: top;
    border-radius: $border-radius-large;
    background-image: url(../img/features-background.jpg);

    @include respond(tab-port){
        padding: 5rem 0;
        margin-bottom: $margin-section-floor-small;
    }
}

.section-best {
    padding: 5rem 0 7rem 0;
    margin-bottom: $margin-section-floor;
    background-color: $color-background-sections;
    //background-image: linear-gradient(to bottom right, rgba($color-grad-topleft, $hero-transparency), rgba($color-grad-bottomright, $hero-transparency));
    border-radius: $border-radius-large;

    @include respond(tab-port){
        padding: 5rem 0;
        margin-bottom: $margin-section-floor-small;
    }
}

.section-stories {
    padding: 5rem 0;
    margin-bottom: $margin-section-floor;
    //background-color: $color-background-sections;
    border-radius: $border-radius-large;
    position: relative; //for video background.

    @include respond(tab-port){
        padding: 5rem 0;
        margin-bottom: $margin-section-floor-small;
    }

}

.section-book {
    padding: 5rem 0 15rem 0;
    margin-bottom: $margin-section-floor;
    border-radius: $border-radius-large;
    
    @include respond(tab-port){
        padding: 5rem 0;
        margin-bottom: $margin-section-floor-small;
    }
    @include respondMaxPX(800){ padding: 1rem 0; }
}

.book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9), 55%,
        transparent 60%),
        url(../img/card-mama.jpg
    );
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $border-radius-small;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    
    @include respondMaxPX (750) {
        padding: 1rem;
        background-image: linear-gradient(
            105deg,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9), 65%,
            transparent 70%),
            url(../img/card-mama.jpg
        );
    }

    &__form {
        width: 50%;
        padding: 6rem;
        @include respondMaxPX (750) { 
            width: 65%;
            padding: 2rem;
        }
    }
}